go 1.26.1

use (
	./commander/public-function-bucket
	./commander/public-function-numbers
	./commander/public-function-strings
	./units/unit-aws/function-bucket
	./units/unit-numbers/function-numbers
	./units/unit-strings/function-strings
)
